/* BASE */


@font-face {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	src: local("Raleway Bold"), local("Raleway-Bold"), url("https://fonts.gstatic.com/s/raleway/v9/JbtMzqLaYbbbCL9X6EvaI_k_vArhqVIZ0nv9q090hN8.woff2") format("woff2");
}


* {
	text-decoration: none;
	outline: 0px;
}

html {
	background: #FFFFFF;
	margin: 0 auto;
}

body {
	background: repeating-linear-gradient(to right bottom, #FBFAF8, #F7F4EF, #F5F2ED, #FBFAF8 800px);
	font-family: "Alte Haas Grotesk", "sans-serif";
	margin: 0 auto;
	max-width: 1000px;
	padding: 0;
	top: 0px;
	width: 75%;
}

::selection, ::-moz-selection {
	background: #EFEEEE;
}


/* HEADER */

#header {
	background: url(./assets/images/page/bg.png);
	height: 150px;
	margin-top: 80px;
}

#header h1 {
	color: #A39F9E;
	font-family: "Alte Haas Grotesk Bold", "sans-serif";
	font-size: 32px;
	font-weight: normal;
	letter-spacing: 6px;
}

#header h2 {
	color: #A39F9E;
	font-family: "Alte Haas Grotesk Bold", "sans-serif";
	font-size: 15px;
	font-weight: normal;
}

#header h2 a {
	color: #A39F9E;
	border: 1px solid #A39F9E;
	font-family: "Alte Haas Grotesk Bold", "sans-serif";
	font-size: 15px;
	font-weight: normal;
	padding: 10px;
}


/* CONTENT */


#border {
	text-align: center;
	height: calc(100vh - 64px);
	width: calc(100% - 64px);
	margin-left: 32px;
	margin-top: 32px;
}

#border:first-child {
	background: #F9F7F6;
}

#border h1, #border h2 {
	color: #E7E7E7;
	display: inline-block;
	margin: 0 auto;
	vertical-align: middle;
}

#border h2 {
	margin-top: 10px;
}

.helper {
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}


#content img {
	margin: 0 auto;
	vertical-align: middle;
	border: 20px solid #F9F7F6;
}

hr {
	border: none;
	height: 0px;
	margin: 0px;
	padding: 0px;
}
